@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Svi moji projekti su na <br />
    GitHub profilu, za više informacija <br />
    kontaktirajte me putem maila navedenih <br />
    dolje.
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:licitar.domagoj@gmail.com">licitar.domagoj@gmail.com</a><br />
    <strong>SecondMail:</strong> <a href="mailto:Marketing@example.com">domac019@gmail.com</a>
</address>